<head>
    Login
</head>
<h2>
    <p class="text-center">WELCOME TO THE STUDENT MANAGEMENT SYSTEM OF SIRIMAVO BANDARANAIKE COLLEGE</p>
</h2>

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  
  <div class="container">
    <form class="myForm" method="post">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control input-lg" type="email" name="email" id="email" placeholder="email" />
   
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control input-lg" type="password" name="password" placeholder="password" />
      
        <button type="button" class="btn btn-primary">Submit</button>
 
