<header>
    My Profile
</header>
<table class="table">
    <tbody>
        <tr>
            <th>First Name</th>
            <td>John</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>Carter</td>

        </tr>
        <tr>
            <th>Address</th>
            <td>Colombo</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>johncarter@mail.com</td>
        </tr>
        <tr>
            <th>DOB</th>
            <td>2005.10.11</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>10 A</td>
        </tr>
        <tr>
            <th>Contact No</th>
            <td>0777123456</td>
        </tr>

    </tbody>
</table>

